body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.metricContainer {
  z-index: 2;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  position: relative;
  float: left;
  padding: 1%;
  width: 100%;
}

.fade-appear {
  opacity: 0;
  z-index: 10;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear;
}

.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.aboutMND {
  background-color: #ffe6e6;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);

  position: relative;
  text-align: left;
  float: left;
  padding: 1%;
  transition: transform 0.2s; /* Animation */
  width: 31%;
}
.aboutMND:hover {
  transform: scale(
    1.02
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.aboutModel {
  background-color: #fff4e6;
  margin-left: 1.5%;
  margin-top: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  float: left;
  position: relative;
  padding: 1%;
  transition: transform 0.2s; /* Animation */
  width: 31%;
}

.aboutModel:hover {
  transform: scale(
    1.02
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.aboutContribution {
  background-color: #e9ffe6;
  margin-right: 2%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  float: right;
  text-align: left;
  margin-top: 20px;
  padding: 1%;
  transition: transform 0.2s; /* Animation */
  width: 31%;
}

.aboutContribution:hover {
  transform: scale(
    1.02
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.topLeft {
  width: 25%;
  height: 200px;
  margin-left: 7.5%;
  margin-top: 2%;
  padding: 10px;
  position: relative;
  float: left;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  display: table;
  border-spacing: 10px;
}
.left,
.right {
  display: table-cell;
  width: 50%;
  text-align: center;
  background-color: rgba(38, 157, 255, 0.342);
}

.box {
  width: 96%;
  background-color: #f9fffa;
  margin-left: 2%;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  font-size: 1.4pc;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.topMiddle {
  width: 25%;
  height: 200px;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;
  position: relative;
  float: left;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.topRight {
  width: 25%;
  height: 200px;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
}

.hoverAnimation {
  transition: transform 0.2s; /* Animation */
}

.hoverAnimation:hover {
  transform: scale(1.08);
}

.centreLeft {
  width: 25%;
  height: 400px;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
}

.mainDisplay {
  width: 55%;
  height: 400px;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
}

.infoBar {
  width: 85%;
  height: 60px;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2.5%;
  padding: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  float: left;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.sidenav {
  height: 100%;
  float: left;
  width: 160px;
  background-color: rgb(248, 248, 248);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
  z-index: -10;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #333333;
  display: block;
}

.sidenav a:hover {
  color: #333333;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
}
